@import "tailwindcss";

:root {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: black;
}

.font-geist {
  font-family: var(--font-geist), sans-serif;
}

.typewriter {
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid;
  animation: typing 9s steps(22) infinite, blink 1s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  60% {
    width: 100%;
  }

  to {
    width: 0;
  }
}

/* The typewriter cursor effect */
@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 text-white/70 text-sm font-semibold rounded-xl hover:bg-white/5 hover:text-white/80 transition duration-300;
  }

  .nav-item.active {
    @apply bg-white/10 text-white;
  }

  .sm-container {
    @apply lg:max-w-[800px] mx-auto sm:max-w-[375px] md:max-w-[650px];
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

.rotate-arc {
  animation: rotate-arc 10s linear infinite;
}

.arc-red {
  color: #ff3f33;
}

.arc-yellow {
  color: #ffcb61;
}

.arc-blue {
  color: #0f828c;
}

@keyframes rotate-arc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.badge {
  animation: translateY 0.9s ease-out infinite alternate;
  overflow: hidden;
}

.badge::after {
  content: "";
  border-radius: 10rem;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 20%,
    #049ee24d 50%,
    transparent 80%
  );
  transform: skewX(-20deg);

  animation: shine 2s ease-in-out infinite;
}

@keyframes translateY {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }

  1% {
    left: -100%;
    opacity: 0;
  }

  15% {
    left: 100%;
    opacity: 1;
  }

  16% {
    opacity: 0;
  }

  100% {
    left: -100%;
  }
}
